<!DOCTYPE html>
<html>
<head>
<title>Team Big Data ver.Beta</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/popper.js/1.15.0/umd/popper.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

<style type="text/css">
body{
	min-height: 75rem;
	padding-top: 4.5rem;
}
</style>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
<a class="navbar-brand" href="#">TeamBigData</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
</button>
</nav>
<!--
<div class="jumbotron text-center">
<h1>Team Big Data</h1>
</div>
-->
<div class="container">
  <div class='alert alert-primary'>
	<h3><a href="/search">News Search</a></h3>
  </div>
  <div class='alert alert-primary'>
	<h3><a href="/">Coming Soooooooooooooooooooooooon....</a></h3>
  	<p></p>
  </div>

  <div class="alert alert-success" role="alert">
	<h3 class="alert-heading">To-do list</h3>
	<p>Search</p>
	<p>Advanced Search</p>
	<p>Multi query</p>
	<p>Multi field search</p>
	<p>Pagination</p>
	<p>Customize tokenizer</p>
	<hr>
  </div>

</div>
</body>
</html>
